{# heritage de la vue mais pas dans le sens de la POO #}
{% extends 'base.html.twig' %}

{% block title %}Ajouter une entreprise{% endblock %}

{% block body %}

    <h1>Ajouter une entreprise</h1>
 
    {# fonction de twig #}
    {{ form(formAddEntreprise) }}

{% endblock %}
