{% extends 'base.html.twig' %}

{% block title %}Hello EmployeController!{% endblock %}

{% block body %}
    <h1>Liste des employés</h1>

    <a class="btn btn-primary"  href="{{ path('add_employe') }}">Ajouter un employe</a><br>


    {% for employe in employes %}
        <a href="{{ path('show_employe', {'id': employe.id}) }}">{{ employe }}</a> <br>
        <a class="btn btn-warning" href="{{ path('edit_employe', {'id': employe.id}) }}">Editer</a> <br>

    {% endfor %}
{% endblock %}
