{# heritage de la vue mais pas dans le sens de la POO #}
{% extends 'base.html.twig' %}

{% block title %}Hello EmployeController!{% endblock %}

{% block body %}

    <h1>{{ employe }}</h1>
 
    <p>
        {{ employe.ville }}
    </p>
{% endblock %}
